$primary:                           #1EA69B !default;
$accent:                            #E43E44 !default;
$secondary:                         #869695 !default;
$dark:                              #1D2625 !default;
$body-bg:                           #F7FAFA !default;
$body-color:                        #30403E !default;
$black:                             #30403E !default;
$border-color:                      #EBF2F2 !default;
$primary-gradient:                  linear-gradient(128deg, #00897C 0%, #1EA69B 100%) !default;
$primary-light:                     #8AE6DE !default;
$footer-bg:                         #293332 !default;
$input-placeholder-color:           #869695 !default;
$navbar-dark-color:                 #859493 !default;

@import 'tutorio/src/sass/variables';
